.about{
    display: flex;
    flex-direction: column;
    width: 62%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;}
.about h2{
    height: 60px;
    font-weight: 700;
    font-size: 45px;
    border-bottom: solid 2px rgb(35, 187, 192);
}
@media screen and (max-width: 850px) {
   .about h2{
       font-size: 40px;
   }

}
@media screen and (max-width: 550px) {
    .about h2{
        font-size: 25px;
        height: 40px;
    }
    .about{
        width: 80%;
    }
}